################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.suo
*.csproj.user
/PowerLib.System/packages
/PowerLib.System/obj
/PowerLib.System/bin
/PowerLib.System.ComponentModel.DataAnnotations/obj
/PowerLib.System.ComponentModel.DataAnnotations/bin
/PowerLib.System.Data/obj
/PowerLib.System.Data/bin
/PowerLib.System.Data.Linq/obj
/PowerLib.System.Data.Linq/bin
/PowerLib.System.Data.SqlTypes/obj
/PowerLib.System.Data.SqlTypes/bin
/PowerLib.SqlRuntime/obj
/PowerLib.SqlRuntime/bin
/PowerLib.SqlServer/obj
/PowerLib.SqlServer/bin
/PowerLib.SqlClr.Deploy.Utility/obj
/PowerLib.SqlClr.Deploy.Utility/bin
/PowerLib.SqlClr.Deploy/obj
/PowerLib.SqlClr.Deploy/bin
/PowerLib.EntityFramework/obj
/PowerLib.EntityFramework/bin
/packages
/Debug
/Release
